doctype html
html(ng-app="resourceApp")
  head
    script(src="/static/jquery/dist/jquery.min.js")
    script(src="/static/angular/angular.min.js")
    script(src="/static/angular-resource/angular-resource.min.js")
    script(src="/static/bootstrap/dist/js/bootstrap.js")
    script(src="/public/js/controllers.js")

    link(rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.css")
  body
    .container
      div(ng-controller="resourceListController as resourceList")
        h2
          | Resource
          small All {{resourceList.resources.length}} resources
        a.btn.btn-primary.btn-right(href="" ng-click="resourceList.save()") save
        table.unstyled.table.table-condensed
          tr
            th name
            th target
            th
            th variants
            th
            th
          tr(ng-repeat="resource in resourceList.resources")
            td
              b {{resource.name}}
            td {{resource.target}}
            td
              a(href="" ng-model="collapsed" ng-click="collapsed=!collapsed") variants: {{resource.variants.length}}
            td
              div(ng-show="collapsed")
                table
                  tr(ng-repeat="variant in resource.variants track by $index")
                    td {{variant}}
                    td
                      a.btn.btn-warning.btn-xs(href="" ng-click="resourceList.deleteVariant($parent.$index,$index)") del
            td
              form(ng-submit="resourceList.addVariant($index)")
                input(type="text" ng-model="resourceList.newVariant[$index]" size="10" placeholder="variant")
                input.btn.btn-primary.btn-sm(type="submit" value="add")
            td
              a.btn.btn-warning.btn-sm(href="" ng-click="resourceList.deleteResource($index)") del
        form(ng-submit="resourceList.addResource()")
          input(type="text" ng-model="resourceList.name" size="15" placeholder="name")
          input(type="text" ng-model="resourceList.target" size="15" placeholder="target")
          input.btn.btn-primary(type="submit" value="add")
